body {
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    color: #fff;
    font-family: 'Indie Flower', cursive;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 15px;
    background-color: #1a1a1a;
    z-index: 2;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

#slider-container {
    width: 50%;
    height: 50vh;
    margin: 80px auto 20px;
    overflow: hidden;
}

#slider {
    position: relative;
    height: 100%;
    transition: opacity 0.5s ease;
}

#slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

#slider img.active {
    display: block;
}

#prev, #next {
    position: absolute;
    top: 50%;
    font-size: 36px;
    color: #fff;
    cursor: pointer;
}

#prev { left: 10px; }
#next { right: 10px; }

#heading {
    text-align: center;
    margin: 20px 0;
    color: #fff;
    opacity: 0.7;
    font-size: xx-large;
    transition: opacity 0.5s ease;
}

#main {
    background-color: olive;
}

#main #mushroom-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main #mushroom-text {
    width: 60%;
}

#mushroom-text {
    margin-left: 10px;
}

#main #mushroom-image {
    width: 35%;
    margin-right: 20px; /* Hier wird ein Margin von 20px zum rechten Rand hinzugefügt */
}

#main #mushroom-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-top: 10px;
}


#main #mushroom-text h2 {
    font-size: 36px;
}

#main #mushroom-text p {
    font-size: xx-large;
    color: #ccc;
}

#main #mushroom-text a {
    color: black; /* Neue Farbe für den Linktext */
    text-decoration: none;
}

#main #mushroom-text a:hover {
    color: rgb(45, 44, 44); /* Farbe bei Hover-Status ändern */
}

#main #products-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: olive;
    padding: 20px;
    margin-top: 20px;
}

#main #products-image {
    width: 35%;
}

#main #products-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-top: 10px;
}

#main #products-text {
    width: 60%;
    margin-left: 20px; /* Hier wird ein Margin von 20px zum linken Rand hinzugefügt */
}

#main #products-text h2 {
    font-size: 36px;
}

#main #products-text p {
    font-size: 18px;
    color: #ccc;
}

#main #products-text a {
    color: black;
    text-decoration: none;
}

#main #products-text a:hover {
    color: rgb(45, 44, 44);
}

#main #recipes-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: olive;
    padding: 20px;
    margin-top: 20px;
}

#main #recipes-image {
    width: 60%;
}

#main #recipes-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-top: 10px;
}

#main #recipes-text {
    width: 35%;
    margin-right: 20px; /* Hier wird ein Margin von 20px zum rechten Rand hinzugefügt */
}

#main #recipes-text h2 {
    font-size: 36px;
}

#main #recipes-text p {
    font-size: 18px;
    color: #ccc;
}

#main #recipes-text a {
    color: black;
    text-decoration: none;
}

#main #recipes-text a:hover {
    color: rgb(45, 44, 44);
}
